<form method="post">
    {% csrf_token %}
    <label> Your title </label>
    <input type="text" name="title"/><br>
    <label> Your blog entry </label>
    <textarea cols="40" rows="4" name="blog_entry"> </textarea><br>
    <input type="radio" id="private_id" name="visibility" value="private"/>
    <label for="private_id">Private</label><br>
    <input type="radio" id="public_id" name="visibility" value="public"/>
    <label for="public_id">Public</label><br>
    <button type="submit">Post</button>
</form>