<!-- This is the only view for the logged in user, there is no possibility to logout,
implement logout functionality and add it to the view so the user can logout when
required. This is part of A07:2021 implementation (see description)

<h3><a href="/logout" style="float:right;">Log out</a></h3>
 -->


<h2>Welcome to our blog for all</h2>
<hr>
{% for i in blog_posts %}
<div>
    <h3>{{ i.title }}</h3>
    {{ i.blog_entry|safe }}</div>
    <!-- A place where our blog entry is not sanitized,
    to make the input sanitized and not dependant on user input
    remove |safe from call to blog_entry -->
<h4>author:</h4> {{ i.author }}
<h5>status</h5> <small>{{ i.status }}</small>
<hr>
{% endfor %}
